<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Diagramer 2.0</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="sala">
        <a class="nav-link" href="./room">Salas</a>
      </li>
      <li class="nav-item" id="iniciarS">
        <a class="nav-link" href="./login">Iniciar Sesion</a>
      </li>
      <li class="nav-item" id="cerrarSesion">
        <a class="nav-link" href="/">Cerrar Sesion</a>
      </li>
    </ul>
  </div>
</nav>