<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<a href="/diagramador">diagramador</a>
	<form action="">
		usuario <input type="text">
		passwod <input type="password">
	</form>
</body>
</html>