
{{> header }}
{{> navegacion }}
<br>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">DIAGRAMER 2.0</h1>
      <p class="lead">Realizar diagramas de clases nunca habia sido tan sencillo.</p>
      <hr class="my-4">
      <p>permite realizar la importacion de la base de datos como tambien exportacion.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="./login" role="button">Iniciar Sesion</a>
      </p>
    </div>
  </div>

{{> footer }}
    