{{> header }}
{{> navegacion }}
<br>
    <div class="container h-100">
      <form>
      <h2 style="text-align: center;">FORMLARIO DE REGISTRO</h2>
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese Email"> 
        </div>
      </div>
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Contraseña">
        <br>
        <button type="submit" class="btn btn-info">Registrarse</button>
        </div>
      </div>
      </form>
    </div>
    </div>
{{> footer }}